/* cland.scss */



$color_brown: #995500;
$color_grey: #665555;
$color_very_dark_brown: #2E2017;
$color_white_brown: #bbaa77;
$color_very_white_brown: #F1DFC9;
$color_dark_brown: #38271C;
$color_prune: #443333;
$color_veryvery_white_brown: #FFFEEF;
$color_white: #fff;
$color_body_background: #F9EFC3;
$border_color_image_sphere: #4C1B1B;


body {
    background-color: $color_body_background;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* Menu */


#menu
{
	padding: 1em 2em 1em 0em;
	background: $color_very_white_brown url('../images/a2.gif') top left repeat-x;
	font-size: 0.9em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
    ul {
      display: block;
	  width: 80%;
	  margin: 0em auto;
	  list-style: none;
	  padding-left: 2.5em;
    }

    li {
	  display: inline;
      a {
	    color: $color_dark_brown;
	    font-weight: bold;
	    text-decoration: none;
	    padding: 0.25em 0.75em 0.25em 0.75em;
	    &:hover {
	      background: $color_dark_brown url('../images/a4.gif') top left repeat-x;
	      color: $color_white;
	    }
      }
    }
}



/* Accueil */

#accueil {
    float: left;
	width: 50em;
    margin: 4em 5em;
	font-size: 0.9em;
    h3 {
        text-align: center;
    }
}


/* Blog */

#blog {
    float: left;
    width: 60em;
    margin: 4em 5em;
    font-size: 0.9em;
    h1 {
      text-align: center;
      font-size: 1.5em;
    }
    .billet {
      float: left;
      width: 80%;
      margin: 1em 1em;
      padding: 1em 2em;
      font-size: 0.9em;
      .title {
        text-align: center;
        margin: 1em;
        font-size: 2em;
      }
      .author {
        text-align: center;
        margin: 1em;
        font-size: 0.5em;
      }
      .image {
        text-align: center;
        
      }
      .body{
        font-size: 1.2em;
      }
    }
}


/* Styles for order form */



.cland_form {
    fieldset {
      background: #efe;
    }

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }

    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    div {
      margin: 0.5em 0;
    }
}

/* Pour la boite à sphères */

#boite_a_sphere {
    #header_boite_a_sphere{
        width: 900px;
        box-sizing: content-box;
        text-align: center;
        .image_sphere {
            padding: 2em;
            img {
               
                 alt: "Sphere monde";
                 width: 200px;
                float: right;
                border-color: $border_color_image_sphere;
            }

        }

        .title {
          text-align: center;
          padding: 2em;
          font-size: 2em;
          float: left;
        }
    }

    
    #liste_spheres {
      width: 80%;
      
      padding: 5em;
      margin: 1em;
    }

}

.sphere {
    .sphere_title {
      padding: 2em;
      font-size: 2em;
    }
}

.histoire {

    .histoire_header{
        text-align: center;
        .histoire_title {
            font-size: 2em;
        }
        .histoire_author {
            font-size: 1.1em;
        }
    }


    .histoire_text {
      padding: 3em;
    }
}

/* Boite à dames */
.boite_a_dames {
    h1 {
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }

    #madame_du_jour {
        text-align: center;
    }
}

#main_content{
    min-height: 500px;
	font-size: 13pt;
}


#footer{
    clear: both;
    padding: 1.5em 2em 1.5em 2em;
	text-align: center;
	margin: 0em auto;
	border-top: solid 1px #efeecc;
	font-size: 0.9em;
}
