<div class="billet">
    <div class="title">
        <%= billet.title %><span class="author">, par <%= billet.author %></span>
    </div>
    <% unless billet.image_url.blank? %>
      <div class="image">
        <img src = <%= "/images/#{billet.image_url}" %> />
      </div>
    <% end %>
    <div class="body">
        <%= billet.body %>
    </div>

  </div>