<div class="histoire">
  <div class="histoire_header"><span class="histoire_title"><%= histoire.title %></span> <span class="histoire_author">, par <%= histoire.author %></span> </div>

  <div class="histoire_text">
    <%= histoire.description %>
  </div>

</div>