<div id="accueil">
  <h3>Bonjour et bienvenue sur ce site !</h3>
  <p>Ceci est la version 1.0, incluant uniquement un blog de news. De plus amples détails sur l'avancée du site sont disponibles dans la Boite à News, le C-Blog.</p>
</div>