<div id="accueil">
  <h3>Bonjour et bienvenue sur ce site !</h3>
  <p>L'écriture est la seule forme d'expression qui ne nécessite aucun matériel pour être transcrite. C'est la porte d'entrée de toutes les folies de l'imagination.
  Savoir exprimer par écrit ce que l'on ressent est une façon d'atteindre l'éternité. Les textes ne sont pas figés, ils peuvent être répétés, recopiés encore et encore, leur message gardera toute sa force aussi longtemps que des lecteurs prendront la peine de les lire.
  </p>
  <p>J'aime beaucoup de choses dans ma vie. Entre autres : ma famille, mes amis, mon travail aussi, j'aime lire, j'aime écrire, découvrir, trouver. J'adore écrire, même si je n'ai pas autant d'imagination que je l'aimerais. J'adore faire de la musique, même si j'aurais aimé avoir plus de talent.
  </p>
  <p>Ce site n'a aucune prétention. Il n'a pas pour but d'apprendre des choses à ses visiteurs, ou encore de devenir une référence dans l'océan d'Internet. Je vais m'en servir comme d'une vitrine pour mes réalisations, mes projets, en plus d'être un moyen de donner des nouvelles à mes proches.
  Si vous cherchez quelque chose de particulier, autant passer votre chemin de suite. Mais si vous occupez juste votre temps à flanner et que vous vous prenez à aprécier ce que vous trouverez ici, j'en serai très contente.</p>
</div>